

<div *ngIf="alertService.numberOfAlerts() > 0" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Alert temperature: </span>
        Temperature problems with Container(s): <span *ngFor='let alert of alertService.getAlerts()'>{{alert}}, </span>
</div>

<delivery-timer></delivery-timer>

<div class="row">
    <delivery-container *ngFor='let container of containers' [inputContainer]="container"></delivery-container>
</div>

